apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ateliercode-website
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/jariahh/ateliercode-website.git
    targetRevision: master
    path: helm
    helm:
      valueFiles:
        - values.yaml
      values: |
        imagePullSecrets:
          - name: ghcr-pull-secret

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
